.add-user-form input {
    margin-right: 10px;
}

th,
td {
    padding: 5px;
    text-align: center;
}

.update-user-form label {
    display: inline-block;
    width: 100px;
    margin-bottom: 8px;
}