.add-user-form input {
    margin-right: 10px;
}

th,
td {
    padding: 5px;
    text-align: center;
}

.update-user-form label {
    display: inline-block;
    width: 100px;
    margin-bottom: 8px;
}

.login-logout-container {
    display: flex;
    justify-content: right;
    padding: 10px;
}

.login-logout-container a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.login-logout-container a:hover {
    color: dimgrey;
}